VPS2_HOST={{ hostvars[groups['backup'][0]]['ansible_host'] | default(groups['backup'][0]) }}
VPS2_BACKUP_DIR=/opt/backups
APP_DIR={{ app_dir }}

S3_ENDPOINT={{ s3_endpoint }}
S3_BUCKET={{ s3_bucket }}
S3_ACCESS_KEY={{ s3_access_key }}
S3_SECRET_KEY={{ s3_secret_key }}
S3_RETENTION_DAYS={{ s3_retention_days }}

TELEGRAM_TOKEN={{ vault_telegram_token }}
TELEGRAM_CHAT_ID={{ vault_telegram_chat_id }}
